{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Inici - Blog Bloc6{% endblock %}

{% block content %}

    <div class="container px-3">
        <img src="{% static 'blog/images/portada1.jpg' %}" alt="Imatge de benvinguda" class="w-100 rounded mb-3">
    </div>
        <div class="container px-3">
            <h1 class="mt-4">Benvingut al Blog Django 2024-25</h1>
            <p class="lead">Hola! Aquest el projecte del Bloc 6 fet amb DJango</p>

            <h2 class="mt-5">Els darrers Posts</h2>
            <!--Visulización horitzontal-->
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4">  {# 3 columnes en una fila #}
                        {% include "blog/post_single.html" %}
                    </div>
                {% endfor %}
            </div>

        
        <h3 class="mt-4">DJango</h3>
        <p>Django és un framework popular de desenvolupament web de codi obert...</p>
        <p>Django segueix el patró de disseny Model-Vista-Controlador (MVC)...</p>
    </div>
{% endblock %}